.todoSection{
    text-align: center;

    h1{
        text-align: center;
        font-family: 'Noto Sans JP', sans-serif;
        color: #ff6b6b;
        font-size: 90px;
        opacity: 0.3;
        margin-bottom: 10px;
        font-weight: 100;
    }
}

.strike-through {
    text-decoration: line-through;
}

.todos-check{
    float:left;
    margin-right: 10px;
}

.todo-input{
    width: 100%; 
    margin-bottom: 20px;
}

.p-button-danger{
    float: right;
}

.p-button-rounded{
    margin-right: 10px;
}

.todoLength{
    margin-top: 2rem;
}


.task-list {
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;

    &:empty {
        margin: 0;
    }

    li {
        margin-bottom: 1rem;

        label {
            cursor: pointer;
        }

        .deleteIcon{
            font-size: 12px; 
            color: red;
            float: right;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 470px) {
    .btn-group button {
      width: 100%;
      margin: 0 0 10px 0;
    }
}